:root {
  --mdc-theme-primary: #00AAC0;
}

html {
    overflow-y:scroll;
}

body {
  background-color: #EEEEEE;
  display: block;
  margin: 0px;
}

.ledger-instances-card {
  grid-column-end: span 3;
}

.ledger-pages-card {
  grid-column-end: span 3;
}

.head-commits-card {
  grid-column-end: span 3;
}

.keys-values-card {
  grid-column-end: span 12;
}

.mdc-card {
  background-color: white;
}

.mdc-tab-bar {
  padding-left: 24px;
}

.overview-header-card {
  grid-column-end: span 12;
}

.panel {
  display: none;
  padding: 24px;
}

.panel.active {
  display: block;
}

.selected-class-name {
  padding-left:8px;
  background-color: #D3D3D3;
}

#keys-entries-list li {
  border-bottom: 1px solid #D3D3D3;
  margin:0 0 10px 0;
}
