{
  "apps": [
    [ "fuchsia-pkg://fuchsia.com/basemgr#meta/basemgr.cmx",
      "--base_shell=fuchsia-pkg://fuchsia.com/userpicker_base_shell#meta/userpicker_base_shell.cmx",
      "--sessionmgr_args=--startup_agents=fuchsia-pkg://fuchsia.com/experiment_agent#meta/experiment_agent.cmx\\,fuchsia-pkg://fuchsia.com/usage_log#meta/usage_log.cmx"]
  ]
}
